<%- include('partials/nav') -%>
<div class="flex items-start justify-center flex-grow w-full">

    <div class="w-[95%] mid-small2:w-[80%] 4k-lowminus2:w-[70%] flex flex-col items-center justify-center mt-10 gap-10">

        <% if (errorMessages && errorMessages.length > 0) { %>
            <div class="h-[4rem] bg-red-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                <% errorMessages.forEach(message => { %>
                    <p><i class="fa-solid fa-triangle-exclamation pr-2"></i> <%= message %></p>
                <% }); %>
            </div>
        <% } %>
        
        <% if (successMessages && successMessages.length > 0) { %>
            <div class="h-[4rem] bg-green-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                <% successMessages.forEach(message => { %>
                    <p><i class="fa-solid fa-check pr-2"></i> <%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <div class="grid grid-cols-1 mid-small2:grid-cols-2 800px:grid-cols-3 mob-ninenine4:grid-cols-4 4k-solasau:grid-cols-5 items-center justify-center w-full gap-5">
            <% books.forEach((book) => { %>
                <a href="/book/<%= book._id %>" class="group cursor-pointer relative min-h-[23rem] rounded-lg flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105"
                style="background: url('<%= book.cover %>') center center / cover no-repeat;">
                 <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                 <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                     <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                 </div>
                 <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                     <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                         <p><%= book.title %></p>
                         <% if (!book.checkedOut) { %>
                             <div class="px-3 bg-green-500 rounded-full text-xs">
                                 <p>Available</p>
                             </div>
                         <% } else { %>
                             <div class="px-3 bg-red-500 rounded-full text-xs">
                                 <p>Taken</p>
                             </div>
                         <% } %>
                     </div>
                 </div>
             </a>
            <% }); %>
        </div>
    </div>
</div>
<%- include('partials/foot') -%>
